{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">

<script>
  
function scrollSmoothToBottom(id) {
  var div = document.getElementById(id);
  $("#" + id).animate(
    {
      scrollTop: div.scrollHeight - div.clientHeight,
    },
    500
  );
}

</script>
<style>
.mainformat{
    position: absolute;
    height: 75vh;
    width: 160vh;
  /*background-color: powderblue;*/
  overflow-y: scroll;
  overflow-x: hidden;

}

.chat{
    position: absolute;
    top: 85vh;
    min-height: 5vh;
    min-width: 140vh;
    font-size: 20px;
    font-family:courier;
}

.sendButton{
    position: absolute;
    top: 85vh;
    left:  150vh;
    min-width: 10vh;
    min-height: 5vh;
    font-family:courier;

    font-size: 20px;

}

</style>

{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MiniDiscord</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="http://127.0.0.1:5000/logout/{{name}}">Log Out</a></li>


            <li><a href="http://yimingao.com">--->To my page</a></li>
          </ul>
<!--           <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">{{name}} <span class="sr-only">(current)</span></a></li>


            {% for usr in users %}
              {% set m1 = usr["online"] %}
              {% set m2 = usr["username"] %}
              {% if m1 == 1 %}
                {% if m2 != name%}
                  <li><a href="#">{{usr["username"]}}   (online)</a></li>
                {% endif%}
              {% else %}
                  <li><a href="#">{{usr["username"]}}   (offline)</a></li>
              {% endif%}
            {% endfor %}
            <!-- <p>123123123</p> -->

        <!-- <input type="submit" name="123123" onclick="scrollSmoothToBottom('chatarea')"> -->
          </ul>
        </div>

      </div>
    </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Chatroom(Signed in as {{ name }})</h1>

        <div class="mainformat" id="chatarea">
<!--            <h5 align="right" style="font-family:courier; 
    font-size: 20px;color:blue; margin-right: 20px;">
            {{name}}
          </h5>
          <h5 align="right" style="font-family:courier; 
    font-size: 20px;color:blue; margin-right: 20px;">
            Test test test!!!
          </h5>
          <p align="left" style="font-family:courier; 
    font-size: 20px;color:green; margin-left: 20px;">
            Vincent
          </p>
          <h5 align="left" style="font-family:courier; 
    font-size: 20px;color:green; margin-left: 20px;">
            Test test test!!! -->
          <!-- </h5> -->
        {% for msg in msgs %}
          {% set m = msg["client"] %}
          {% if m == name %}
            <h5 align="right" style="font-family:courier; font-size: 20px;color:green; margin-right: 20px;">{{msg["client"]}}  @  {{msg["time"]}}</h5>
              <h5 align="right" style="font-family:courier; font-size: 20px;color:green; margin-right: 20px;"> {{msg["message"]}}</h5>
          {% else %}
            <h5 align="left" style="font-family:courier; font-size: 20px;color:blue; margin-right: 20px;">{{msg["client"]}}  @  {{msg["time"]}}</h5>
              <h5 align="left" style="font-family:courier; font-size: 20px;color:blue; margin-right: 20px;"> {{msg["message"]}}</h5>
          {% endif %}
        {% endfor %}

        </div>
    

        <form method="POST" action="#">
          <input class="chat" type="text" name="msg" id="msg">
          <input class="sendButton" type="submit" value="Send" onclick="scrollSmoothToBottom('chatarea')">
        </form>


{% endblock %}